/* https://kamranahmed.info/toast#toast-generator 
Helper Toast Plugin
*/
.jq-toast-wrap {
    display: block;
    position: fixed;
    width: 250px;
    pointer-events: none !important;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    z-index: 9000 !important;
}
.jq-toast-wrap * {
    margin: 0;
    padding: 0;
}

.jq-toast-wrap.bottom-left {
    bottom: 20px;
    left: 20px;
}
.jq-toast-wrap.bottom-right {
    bottom: 20px;
    right: 40px;
}
.jq-toast-wrap.top-left {
    top: 20px;
    left: 20px;
}
.jq-toast-wrap.top-right {
    top: 20px;
    right: 40px;
}

.jq-toast-single {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0px 0px 5px;
    border-radius: 4px;
    font-size: 12px;
     font-family: Roboto, sans-serif;
    line-height: 17px;
    position: relative;
    pointer-events: all !important;
    background-color: #444444;
    color: white;
}

.jq-toast-single h2 {
     font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: 0px 0px 7px;
    background: none;
    color: inherit;
    line-height: inherit;
    letter-spacing: normal;
}
.jq-toast-single a {
    color: #eee;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    font-size: 12px;
     font-family: Roboto, sans-serif;
}

.jq-toast-single ul {
    margin: 0px 0px 0px 15px;
    background: none;
    padding: 0px;
}
.jq-toast-single ul li {
    list-style-type: disc !important;
    line-height: 17px;
    background: none;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
     font-family: Roboto, sans-serif;
}

.close-jq-toast-single {
    position: absolute;
    top: 3px;
    right: 7px;
    font-size: 14px;
    cursor: pointer;
}

.jq-toast-loader {
    display: block;
    position: absolute;
    top: -2px;
    height: 5px;
    width: 0%;
    left: 0;
    border-radius: 5px;
    background: red;
}
.jq-toast-loaded {
    width: 100%;
}

.jq-icon-info {
    background-color: #4792d7;
    color: #fff;
     font-family: Roboto, sans-serif;
    border-color: #bce8f1;
    text-shadow: 0 0 8px #242424;
    font-weight: 500;
    left: 35px;
}

.jq-icon-error {
    background-color: #cb3c39;
    color: #fff;
     font-family: Roboto, sans-serif;
    border-color: #ebccd1;
    text-shadow: 0 0 8px #242424;
    font-weight: 500;
    left: 35px;
}
.jq-icon-success {
    color: #fff;
     font-family: Roboto, sans-serif;
    background-color: #1a973b;
    border-color: #d6e9c6;
    text-shadow: 0 0 8px #242424;
    font-weight: 500;
    left: 35px;
}
