.preloader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	width: 100%;
	height: 100%;
	background: #990000;
	/* background: linear-gradient(to right, #b00, #d00); */
	opacity: 1;
	transition: opacity .5s linear .2s;
	/* transition: opacity .5s linear; */
}

.preloader-none{
	opacity: 0;
	pointer-events: none;
}


/* 
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	width: 100%;
	height: 100%;
	background: #0d0e10;
  overflow:hidden;
  max-height: 800px;
  transition: max-height 1s ease-in-out;
}

.preloader-none{
	max-height: 0;
  pointer-events: none;
} */


.preloader .preloader-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.preloader .preloader-inner .preloader-icon {
	width: 72px;
	height: 72px;
	display: inline-block;
	padding: 0px
}

.preloader .preloader-inner .preloader-icon span {
	position: absolute;
	display: inline-block;
	width: 72px;
	height: 72px;
	border-radius: 100%;
	animation: move 1s ease infinite;
    display: inline-block;
}

.preloader-text{
    font-weight: bold;
}

@keyframes move {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.salt  {
    animation: move 1s ease infinite;
    display: inline-block;
}

.size{
	width: 70px;
}

